<aside class="multi-group" appSetHeight>
  <ul class="first-floor">
    <li class="active current">
      <div class="top-content ver-y">
        <span class="title">Group</span>
        <img class="grey-arrow" src="assets/i/symbols-icon-grey-right.png" alt="IMG">
        <img class="blue-arrow" src="assets/i/symbols-icon-blue-expanded.png" alt="IMG">
        <a href="javascript:;" class="big-hand" (click)="showListGroupFunc($event)"></a>
      </div>
      <!-- end /top-content -->
      <div class="bottom-content">
        <ul class="second-floor">
          <li class="mix-xy" [routerLinkActive]="['blue-box']">
            <img src="assets/i/symbols-icon-grey-meeting.png" alt="IMG">
            <img src="assets/i/symbols-icon-white-meeting.png" alt="IMG">
            <a href="javascript:;" class="big-hand" routerLink="/meetings"></a>
          </li>
          <li class="mix-xy" [routerLinkActive]="['blue-box']">
            <img src="assets/i/symbols-icon-grey-action.png" alt="IMG">
            <img src="assets/i/symbols-icon-white-action.png" alt="IMG">
            <a href="javascript:;" class="big-hand" routerLink="/action-items"></a>
          </li>
          <li class="mix-xy" [routerLinkActive]="['blue-box']">
            <img src="assets/i/symbols-icon-grey-lock.png" alt="IMG">
            <img src="assets/i/symbols-icon-white-lock.png" alt="IMG">
            <a href="javascript:;" class="big-hand" routerLink="/loto"></a>
          </li>
          <li class="mix-xy">
            <img src="assets/i/symbols-icon-grey-placeholder.png" alt="IMG">
            <a href="javascript:;" class="big-hand"></a>
          </li>
          <li class="mix-xy">
            <img src="assets/i/symbols-icon-grey-placeholder.png" alt="IMG">
            <a href="javascript:;" class="big-hand"></a>
          </li>
          <li class="mix-xy">
            <img src="assets/i/symbols-icon-grey-placeholder.png" alt="IMG">
            <a href="javascript:;" class="big-hand"></a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
      <!-- end /bottom-content -->
    </li>
    <li class="active">
      <div class="top-content ver-y">
        <span class="title">Group</span>
        <img class="grey-arrow" src="assets/i/symbols-icon-grey-right.png" alt="IMG">
        <img class="blue-arrow" src="assets/i/symbols-icon-blue-expanded.png" alt="IMG">
        <a href="javascript:;" class="big-hand" (click)="showListGroupFunc($event)"></a>
      </div>
      <!-- end /top-content -->
      <div class="bottom-content">
        <ul class="second-floor">
          <li class="mix-xy">
            <img src="assets/i/symbols-icon-grey-placeholder.png" alt="IMG">
            <a href="javascript:;" class="big-hand"></a>
          </li>
          <li class="mix-xy">
            <img src="assets/i/symbols-icon-grey-placeholder.png" alt="IMG">
            <a href="javascript:;" class="big-hand"></a>
          </li>
          <li class="mix-xy">
            <img src="assets/i/symbols-icon-grey-placeholder.png" alt="IMG">
            <a href="javascript:;" class="big-hand"></a>
          </li>
          <li class="mix-xy">
            <img src="assets/i/symbols-icon-grey-placeholder.png" alt="IMG">
            <a href="javascript:;" class="big-hand"></a>
          </li>
          <li class="mix-xy">
            <img src="assets/i/symbols-icon-grey-placeholder.png" alt="IMG">
            <a href="javascript:;" class="big-hand"></a>
          </li>
          <li class="mix-xy">
            <img src="assets/i/symbols-icon-grey-placeholder.png" alt="IMG">
            <a href="javascript:;" class="big-hand"></a>
          </li>
          <li class="mix-xy">
            <img src="assets/i/symbols-icon-grey-placeholder.png" alt="IMG">
            <a href="javascript:;" class="big-hand"></a>
          </li>
          <li class="mix-xy">
            <img src="assets/i/symbols-icon-grey-placeholder.png" alt="IMG">
            <a href="javascript:;" class="big-hand"></a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
      <!-- end /bottom-content -->
    </li>
    <li class="active">
      <div class="top-content ver-y">
        <span class="title">Group</span>
        <img class="grey-arrow" src="assets/i/symbols-icon-grey-right.png" alt="IMG">
        <img class="blue-arrow" src="assets/i/symbols-icon-blue-expanded.png" alt="IMG">
        <a href="javascript:;" class="big-hand" (click)="showListGroupFunc($event)"></a>
      </div>
      <!-- end /top-content -->
      <div class="bottom-content">
        <ul class="second-floor">
          <li class="mix-xy">
            <img src="assets/i/symbols-icon-grey-placeholder.png" alt="IMG">
            <a href="javascript:;" class="big-hand"></a>
          </li>
          <li class="mix-xy">
            <img src="assets/i/symbols-icon-grey-placeholder.png" alt="IMG">
            <a href="javascript:;" class="big-hand"></a>
          </li>
          <li class="mix-xy">
            <img src="assets/i/symbols-icon-grey-placeholder.png" alt="IMG">
            <a href="javascript:;" class="big-hand"></a>
          </li>
          <li class="mix-xy">
            <img src="assets/i/symbols-icon-grey-placeholder.png" alt="IMG">
            <a href="javascript:;" class="big-hand"></a>
          </li>
          <li class="mix-xy">
            <img src="assets/i/symbols-icon-grey-placeholder.png" alt="IMG">
            <a href="javascript:;" class="big-hand"></a>
          </li>
          <li class="mix-xy">
            <img src="assets/i/symbols-icon-grey-placeholder.png" alt="IMG">
            <a href="javascript:;" class="big-hand"></a>
          </li>
          <li class="mix-xy">
            <img src="assets/i/symbols-icon-grey-placeholder.png" alt="IMG">
            <a href="javascript:;" class="big-hand"></a>
          </li>
          <li class="mix-xy">
            <img src="assets/i/symbols-icon-grey-placeholder.png" alt="IMG">
            <a href="javascript:;" class="big-hand"></a>
          </li>
        </ul>
        <div class="clear"></div>
      </div>
      <!-- end /bottom-content -->
    </li>
  </ul>
</aside>
<!-- end /multi-group -->
