<header>
	<aside class="left-header">
		<a href="javascript:;" class="click-menu mix-xy" [ngClass]="{'fix-width':!showMenu}" (click)="clickShowMenuFunc()">
			<img src="assets/i/symbols-icon-grey-menu.png" alt="image" class="one">
			<img src="assets/i/symbols-icon-blue-menu.png" alt="image" class="two">
			<img src="assets/i/symbols-icon-white-menu.png" alt="image" class="three">
		</a>
	  <a href="javascript:;" class="click-logo ver-y">
	    <img src="assets/i/symbols-logo.png" alt="image">
		</a>
		<!-- click logo -->
	</aside>
	<!-- left header -->
	<div class="right-header">
		<div class="box-user ver-y">
			<div class="cover-image ver-y">
				<img src="assets/i/symbols-avatar.png" alt="image">
			</div>
			<a href="javascript:;" class="click-name ver-y">
				<span class="name-user">Rachel Elliott</span>
				<img src="assets/i/symbols-icon-grey-bottom.png" alt="image">
			</a>
		</div>
		<!-- box user -->
		<div class="box-noti ver-y">
			<a href="javascript:;" class="click-noti">
				<img src="assets/i/symbols-icon-grey-notification.png" alt="image">
			</a>
		</div>
		<!-- box noti -->
		<div class="box-email ver-y">
			<a href="javascript:;" class="click-email">
				<img src="assets/i/symbols-icon-grey-email.png" alt="image">
			</a>
		</div>
	</div>
</header>
