@import url('https://fonts.googleapis.com/css?family=Lato:300,400,700,900');

*, *:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	border: 0;
	outline: 0;
	margin: 0;
	padding: 0;
	color: #fff;
	line-height: 1;
	font-size: 100%;
	font-style: normal;
	list-style-type: none;
	vertical-align: baseline;
	background: transparent;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}

abbr[title], dfn[title] {
	cursor: help;
	border-bottom: 1px dotted;
}

a {
	margin: 0;
	padding: 0;
	outline: 0;
	font-size: 100%;
	text-decoration: none;
	vertical-align: baseline;
	background: transparent;
}

a:hover, a:active, a:focus {
	outline: 0;
	text-decoration: none;
}

body {
	min-width: 1423px;
    font-family: 'Lato', sans-serif;
	font-weight: 400;
	font-style: normal;
	overflow-x: auto;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

del {
	text-decoration: line-through;
}

hr {
	display: block;
	height: 1px;
	border: 0;
	border-top: 1px solid #cccccc;
	margin: 1em 0;
	padding: 0;
}

ins {
	color: #000;
	text-decoration: none;
	background-color: #ff9;
}

mark {
	color: #000;
	font-style: italic;
	font-weight: bold;
	background-color: #ff9;
}

table {
	table-layout: fixed;
	border-spacing: 0;
	border-collapse: collapse;
}

input, select, textarea {
	-webkit-appearance: none;
	-moz-appearance: none;
	vertical-align: middle;
	outline: 0;
}

input {
	border: 0;
	outline: 0;
	margin: 0;
	padding: 0;
	color: #fff;
	line-height: 1;
	font-style: normal;
	vertical-align: baseline;
	background: transparent;
}

input[type="checkbox"],
input[type="radio"] {
	margin: 0;
	padding: 0;
	text-indent: -9999px;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	position: absolute;
	left: -9999px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

input[type="search"] {
	outline: 0;
	box-sizing: content-box;
	-moz-box-sizing: content-box;
	-webkit-box-sizing: content-box;
	-webkit-appearance: textfield;
}

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
	outline: 0;
	-webkit-appearance: none;
}

input:focus::-webkit-input-placeholder,
input:focus:-moz-placeholder,
input:focus::-moz-placeholder,
input:focus:-ms-input-placeholder,
textarea:focus::-webkit-input-placeholder,
textarea:focus:-moz-placeholder,
textarea:focus::-moz-placeholder,
textarea:focus:-ms-input-placeholder {
	color: transparent;
}

.clear, .clear:before, .clear:after {
	clear: both;
}

.container {
	max-width: 100%;
	margin: 0;
	padding: 0;
}
.row {
	margin: 0;
	padding: 0;
}
.col-xl-12 {
	margin: 0;
	padding: 0;
}
input::-ms-clear {
	display: none;
}

.hol-x {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}
.ver-y {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}
.mix-xy {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	justify-content: center;
}

@mixin iinput ($fontsize, $color, $colorplace) {
  display: block;
  height: 100%;
  width: 100%;
  color: $color;
  font-size: $fontsize;
  border: none;
  outline: none;
  background: transparent;
  margin: 0;
  padding: 0;
  &::-webkit-input-placeholder {
    color: $colorplace;
    opacity: 1;
  }
  &::-moz-placeholder {
    color: $colorplace;
    opacity: 1;
  }
  &:-ms-input-placeholder {
    color: $colorplace;
    opacity: 1;
  }
  &:-moz-placeholder {
    color: $colorplace;
    opacity: 1;
  }
  &:focus::-webkit-input-placeholder {
    color: transparent;
  }
  &:focus:-moz-placeholder {
    color: transparent;
  }
  &:focus::-moz-placeholder {
    color: transparent;
  }
  &:focus:-ms-input-placeholder {
    color: transparent;
  }
}

.check-list {
	display: block;
	height: 100%;
	padding-left: 39px;
	font-size: 10px;
	font-weight: normal;
	color: #fff;
	cursor: pointer;
	position: relative;
	a {
		display: inline-block;
		font-size: 13px;
		color: #3c9edc;
		text-decoration: underline;
	}
	span {
		display: inline-block;
		padding-top: 4px;
    width: 100%;
		height: 100%;
		font-size: 14px;
		color: #EBEBEB;
		text-transform: capitalize;
		white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
	}
}
.check-list::before,
.check-list::after {
	content: '';
	position: absolute;
	top: 0;
	left: 0;
}
.check-list::before {
	display: block;
	width: 20px;
	height: 20px;
	background-color: #122C34;
	border: 1px solid #8B9699;
	border-radius: 4px;
	z-index: 1;
}
.check-list::after {
	display: none;
	width: 20px;
	height: 20px;
	background-image: url(assets/i/symbols-checkbox-on.png);
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	z-index: 2;
}
input:checked + .check-list::after {
	display: block;
	top: 0;
	left: 0px;
	z-index: 2;
}
input:checked + .check-list::before {
	z-index: 1;
}